body{
    margin: 0px;
    padding: 0px;
}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(67, 67, 206);
    background-color: rgb(231, 181, 105);
    padding: 30px;
    margin: 0px;
}

.titulo2{
    color: azure;
}